--extra-index-url https://download.pytorch.org/whl/cpu
aiofiles
telethon
google-generativeai
faiss-cpu
numpy
pypdf
python-docx
pandas
openpyxl
python-pptx
fasttext
requests
fastapi
uvicorn
einops
timm
beautifulsoup4
playwright
pydantic
httpx
pynacl
google-genai
Pyrogram
matplotlib
transformers
sentence-transformers
paramiko
accelerate
torch
bitsandbytes
huggingface-hub
librosa
soundfile
kokoro-onnx
Pillow
onnxruntime
kernels
python-multipart
tensorflow-cpu==2.16.1
protobuf>=4.25.3,<5.0.0dev
mediapipe
tf-keras~=2.16.0
ml_dtypes>=0.5.0


