<nz-card nzTitle="Change Password" class="change-password-card">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>Current Password</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input your current password!">
        <input nz-input type="password" formControlName="currentPassword" placeholder="Current Password" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>New Password</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Password must be at least 6 characters!">
        <input nz-input type="password" formControlName="newPassword" placeholder="New Password" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="confirmErrorTpl">
        <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
        <ng-template #confirmErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">Two passwords that you enter is inconsistent!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="8" [nzSpan]="16">
        <button nz-button nzType="primary">Update Password</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
