<nz-layout class="app-layout" nzHasSider>
  <nz-sider class="menu-sidebar"
            nzCollapsible
            [nzWidth]="sidebarWidth"
            [nzCollapsedWidth]="80"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            [style.borderRight]="isCollapsed ? 'none' : sidebarBorderRight">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="logo">
        <h1>Tree Of Thought</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuItems">
        <!-- Single Menu Item -->
        <ng-container *ngIf="!item.children">
          <li nz-menu-item nzMatchRouter *totClaimCheck="item.claim || ''">
            <span nz-icon [nzType]="item.icon || ''" *ngIf="item.icon"></span>
            <span><a [routerLink]="item.route">{{ item.label | transloco }}</a></span>
          </li>
        </ng-container>

        <!-- Submenu Item -->
        <ng-container *ngIf="item.children">
          <li nz-submenu [nzTitle]="item.label | transloco" [nzIcon]="item.icon || null" *totClaimCheck="item.claim || ''" [(nzOpen)]="item.open">
            <ul>
              <ng-container *ngFor="let child of item.children">
                <li nz-menu-item nzMatchRouter *totClaimCheck="child.claim || ''">
                  <a [routerLink]="child.route">{{ child.label | transloco }}</a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <div class="resize-handle" (mousedown)="onMouseDown($event)" *ngIf="!isCollapsed"></div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <span class="header-trigger" (click)="toggleCollapse()">
              <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
          <!-- <div class="header-links">
            <a routerLink="/" class="nav-link">{{ 'Trang chủ' | transloco }}</a>
            <a routerLink="/about" class="nav-link">{{ 'Giới thiệu' | transloco }}</a>
            <a routerLink="/contact" class="nav-link">{{ 'Liên hệ' | transloco }}</a>
          </div> -->
        </div>
        <div class="header-right">
          <div class="lang-selector">
            <a nz-dropdown [nzDropdownMenu]="langMenu">
              <span nz-icon nzType="global"></span>
              {{ currentLang === 'vi' ? 'Tiếng Việt' : 'English' }}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #langMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="switchLanguage('vi')">Tiếng Việt</li>
                <li nz-menu-item (click)="switchLanguage('en')">English</li>
              </ul>
            </nz-dropdown-menu>
          </div>

          <ng-container *ngIf="user$ | async as user; else loginBtn">
            <span class="user-info">
              <nz-avatar nzIcon="user" [nzSrc]="user.picture || ''"></nz-avatar>
              <div class="user-text">
                <span class="username">{{ user.preferred_username }}</span>
                <span class="display-name">{{ user.name }}</span>
              </div>
            </span>
            <tot-button nzType="link" (click)="logout()">{{ 'Đăng xuất' | transloco }}</tot-button>
          </ng-container>
          <ng-template #loginBtn>
            <tot-button nzType="primary" routerLink="/auth/login">{{ 'Đăng nhập' | transloco }}</tot-button>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content animate-fade-in">
        <nz-breadcrumb class="app-breadcrumb" *ngIf="breadcrumbs.length > 0">
          <nz-breadcrumb-item>
            <a routerLink="/">
              <span nz-icon nzType="home"></span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item *ngFor="let item of breadcrumbs">
            <a [routerLink]="item.url">{{ item.label | transloco }}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <router-outlet *totClaimCheck=""></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
