<nz-layout class="app-layout" nzHasSider>
  <nz-sider class="menu-sidebar"
            nzCollapsible
            [nzWidth]="sidebarWidth"
            [nzCollapsedWidth]="80"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            [style.borderRight]="isCollapsed ? 'none' : sidebarBorderRight">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="logo">
        <h1>Tree Of Thought</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="home"></span>
        <span><a routerLink="/">{{ 'Trang chủ' | translate }}</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="info-circle"></span>
        <span><a routerLink="/about">{{ 'Giới thiệu' | translate }}</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="phone"></span>
        <span><a routerLink="/contact">{{ 'Liên hệ' | translate }}</a></span>
      </li> -->

      <li nz-submenu [nzTitle]="dashboardTitle" nzIcon="dashboard" *appClaimCheck="claims.CQRS_DASHBOARD.VIEW" [(nzOpen)]="openMap['dashboard']">
        <ng-template #dashboardTitle>
          <span>{{ 'Dashboard' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/cqrs-dashboard">{{ 'CQRS Dashboard' | translate }}</a>
          </li>
        </ul>
      </li>

      <li nz-submenu [nzTitle]="authTitle" nzIcon="lock" *appClaimCheck="claims.AUTH.VIEW_USERS" [(nzOpen)]="openMap['auth']">
        <ng-template #authTitle>
          <span>{{ 'Core Infra Auth' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/core-infra-auth/users">{{ 'Người dùng' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/core-infra-auth/roles">{{ 'Vai trò' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/core-infra-auth/claims">{{ 'Quyền' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter *appClaimCheck="claims.AUTH.MANAGE_ACL">
            <a routerLink="/modules/core-infra-auth/acl">{{ 'Quản lý ACL' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/core-infra-auth/change-password">{{ 'Đổi mật khẩu' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/core-infra-auth/authorize-info">{{ 'Thông tin phân quyền' | translate }}</a>
          </li>

        </ul>
      </li>

      <li nz-submenu [nzTitle]="filesFoldersTitle" nzIcon="folder" *appClaimCheck="claims.FILES_FOLDERS.VIEW" [(nzOpen)]="openMap['files']">
        <ng-template #filesFoldersTitle>
          <span>{{ 'Quản lý tài liệu' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/files-folders">{{ 'Khám phá tệp tin' | translate }}</a>
          </li>
        </ul>
      </li>

      <li nz-submenu [nzTitle]="testTitle" nzIcon="experiment" *appClaimCheck="claims.TEST_MODULE.VIEW" [(nzOpen)]="openMap['test']">
        <ng-template #testTitle>
          <span>{{ 'Mô-đun thử nghiệm' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/test/firestore">{{ 'Thử nghiệm Firestore' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/test/fcm">{{ 'Thử nghiệm FCM' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/test/cqrs">{{ 'Thử nghiệm CQRS' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/modules/test/editor">{{ 'Thử nghiệm CKEditor' | translate }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="resize-handle" (mousedown)="onMouseDown($event)" *ngIf="!isCollapsed"></div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <span class="header-trigger" (click)="toggleCollapse()">
              <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
          <!-- <div class="header-links">
            <a routerLink="/" class="nav-link">{{ 'Trang chủ' | translate }}</a>
            <a routerLink="/about" class="nav-link">{{ 'Giới thiệu' | translate }}</a>
            <a routerLink="/contact" class="nav-link">{{ 'Liên hệ' | translate }}</a>
          </div> -->
        </div>
        <div class="header-right">
          <div class="lang-selector">
            <a nz-dropdown [nzDropdownMenu]="langMenu">
              <span nz-icon nzType="global"></span>
              {{ currentLang === 'vi' ? 'Tiếng Việt' : 'English' }}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #langMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="switchLanguage('vi')">Tiếng Việt</li>
                <li nz-menu-item (click)="switchLanguage('en')">English</li>
              </ul>
            </nz-dropdown-menu>
          </div>

          <ng-container *ngIf="user$ | async as user; else loginBtn">
            <span class="user-info">
              <nz-avatar nzIcon="user" [nzSrc]="user.photoURL || ''"></nz-avatar>
              <span class="username">{{ user.displayName || user.email }}</span>
            </span>
            <button nz-button nzType="link" (click)="logout()">{{ 'Đăng xuất' | translate }}</button>
          </ng-container>
          <ng-template #loginBtn>
            <button nz-button nzType="primary" routerLink="/auth/login">{{ 'Đăng nhập' | translate }}</button>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content animate-fade-in">
        <nz-breadcrumb class="app-breadcrumb" *ngIf="breadcrumbs.length > 0">
          <nz-breadcrumb-item>
            <a routerLink="/">
              <span nz-icon nzType="home"></span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item *ngFor="let item of breadcrumbs">
            <a [routerLink]="item.url">{{ item.label | translate }}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <router-outlet *appClaimCheck=""></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
