<div class="signup-page">
  <div class="signup-header">
    <h2>{{ 'Đăng ký' | transloco }}</h2>
    <p>{{ 'Nhập thông tin của bạn để bắt đầu' | transloco }}</p>
  </div>

  <form nz-form [formGroup]="validateForm" (ngSubmit)="$event.preventDefault(); submitForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Vui lòng nhập tên đăng nhập!' | transloco">
        <tot-input type="text" formControlName="username" [placeholder]="'Tên đăng nhập' | transloco" prefixIcon="user"></tot-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Vui lòng nhập email!' | transloco">
        <tot-input type="text" formControlName="email" [placeholder]="'Email' | transloco" prefixIcon="mail"></tot-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Vui lòng nhập tên hiển thị!' | transloco">
        <tot-input type="text" formControlName="displayName" [placeholder]="'Tên hiển thị' | transloco" prefixIcon="idcard"></tot-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Vui lòng nhập mật khẩu!' | transloco">
        <tot-input type="password" formControlName="password" [placeholder]="'Mật khẩu' | transloco" prefixIcon="lock"></tot-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Vui lòng xác nhận mật khẩu mới!' | transloco">
        <tot-input type="password" formControlName="confirmPassword" [placeholder]="'Xác nhận mật khẩu mới' | transloco" prefixIcon="lock"></tot-input>
      </nz-form-control>
    </nz-form-item>

    <tot-button class="signup-form-button" [nzType]="'primary'" [loading]="loading">{{ 'Đăng ký' | transloco }}</tot-button>
    {{ 'Đã có tài khoản?' | transloco }} <a routerLink="/auth/login">{{ 'Đăng nhập' | transloco }}</a>

    <nz-divider [nzText]="('Hoặc đăng nhập với' | transloco)"></nz-divider>

    <div class="sso-buttons">
      <tot-button nzType="default" (click)="signupWithGoogle()" [loading]="loading">
        <span nz-icon nzType="google"></span> {{ 'Google' | transloco }}
      </tot-button>
      <tot-button nzType="default" (click)="signupWithMS()" [loading]="loading">
        <span nz-icon nzType="windows"></span> {{ 'Microsoft' | transloco }}
      </tot-button>
      <tot-button nzType="default" (click)="signupWithFacebook()" [loading]="loading">
        <span nz-icon nzType="facebook"></span> {{ 'Facebook' | transloco }}
      </tot-button>
    </div>
  </form>
</div>
